html {
	font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

.star {
	display: none;
}

svg {
	stroke: #C74409;
	fill: #FFFFFF;
	width: 50px;
	height: 50px;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-top: 50px;
}

.star:hover svg,
.star:hover ~ label svg {
  fill:#FFE64B;
}

.star:checked ~ label svg {
  fill: #FF7000;
}